body {
    background-image: url('../imagenes/hae5.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;


    
}

